anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
bcrypt
beautifulsoup4
bleach
blinker
Brlapi
Brotli
cachetools
ccsm
certifi
cffi
chardet
charset-normalizer
chrome-gnome-shell
click
colorama
comm
compizconfig-python
coverage
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
ddgr
debugpy
decorator
defer
defusedxml
distlib
distro
distro-info
Django
django-autoslug
django-crispy-forms
django-email
django-environ
django-widget-tweaks
duplicity
exceptiongroup
executing
fasteners
fastjsonschema
filelock
fqdn
fuse-python
future
google-api-python-client
google-auth
google-auth-httplib2
gpg
greenlet
httplib2
idna
importlib-metadata
ipykernel
ipython
ipywidgets
isoduration
jedi
jeepney
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
keyring
labelImg
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
lxml
macaroonbakery
Mako
MarkupSafe
matplotlib-inline
mistune
monotonic
more-itertools
MouseInfo
mutagen
mysql-connector-python
natsort
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
notebook_shim
numpy
oauth2client
oauthlib
olefile
opencv-contrib-python
overrides
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
PyAutoGUI
pycairo
pycparser
pycryptodomex
pycups
PyDrive
PyGetWindow
Pygments
PyGObject
PyJWT
pylibacl
pymacaroons
PyMsgBox
PyNaCl
pyOpenSSL
pyparsing
pyperclip
PyQt5
PyQt5-Qt5
PyQt5-sip
PyRect
pyRFC3339
PyScreeze
python-apt
python-dateutil
python-debian
python-json-logger
python3-xlib
pytweening
pytz
pyxattr
pyxdg
PyYAML
pyzmq
qtconsole
QtPy
referencing
reportlab
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
SecretStorage
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
systemd-python
terminado
tinycss2
tomli
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
uri-template
uritemplate
urllib3
usb-creator
virtualenv
wadllib
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
wxPython
xdg
xkit
youtube-dl
yt-dlp
zipp